#cy {
    width: 60%;
    height: 90%;
    position: fixed;
    margin-right: 500px;
    //display: block;
  }
  #controlPanel{
    width: 500px;
    margin-right: 10px;
    //margin-left: 500px;
    float: right;
    margin-top: 10px;
  }
  .selectLocation{
    position:relative;
	  //left:-20px;
  }