<div #cy id="cy"></div>
<mat-accordion id="controlPanel">
    <!-- Add Node -->
    <mat-expansion-panel  >
        <mat-expansion-panel-header>
        <mat-panel-title>
            Add Node
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Select a pattern to add node
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p style="text-align:left;margin-right:200px">
                <mat-form-field>
                    <input matInput [(ngModel)]="selectNode" autocomplete="off">
                </mat-form-field>
            <p><button mat-raised-button (click)="addPattern()">Add Pattern</button></p>
        </mat-action-row>
    </mat-expansion-panel>

    <!-- Add Link -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Add Node
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Add a Node to a pattern
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="addNode()">Add Node</button></p>
        </mat-action-row>
    </mat-expansion-panel>

    <!-- Add Pattern -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Add Pattern
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin:auto">
            Add a new pattern
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Add Link -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Add Link
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Add a connection between two nodes
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="addConnection()">Add Connection</button></p>
        </mat-action-row>
    </mat-expansion-panel>

    <!-- Delete Node -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Delete Node
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Remove a node you unwanted
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Delete Link -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Delete Link
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Remove a connetcion you unwanted
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Send Message -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Send Message
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Select nodes to communicate
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>
