<div #cy id="cy"></div>
<mat-accordion id="controlPanel">
    <!-- Add Domain -->
    <mat-expansion-panel *ngIf="this.user.isAdmAccount()" >
            <mat-expansion-panel-header>
            <mat-panel-title>
                Add Domain
            </mat-panel-title>
            <mat-panel-description>
                <p style="text-align:right;margin: auto">
                Add a new Domain
                </p>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-action-row >
                <p><button mat-raised-button (click)="addDomain()">Add Domain</button></p>
            </mat-action-row>
        </mat-expansion-panel>
    <!-- Add Pattern -->
    <mat-expansion-panel *ngIf="this.user.isAdmAccount()">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Add Pattern
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Add a new Pattern
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="addPattern()">Add Pattern</button></p>
        </mat-action-row>
    </mat-expansion-panel>

    <!-- Add Node -->
    <mat-expansion-panel *ngIf="this.user.isAdmAccount()">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Add Node
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Add a Node to a pattern
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="addNode()">Add Node</button></p>
        </mat-action-row>
    </mat-expansion-panel>

    <!-- Add Link -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Add Connection
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Add a connection between two nodes
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="addConnection()">Add Connection</button></p>
        </mat-action-row>
    </mat-expansion-panel>

    <!-- Delete Node -->
    <mat-expansion-panel *ngIf="this.user.isAdmAccount()">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Delete Node
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Remove a node you unwanted
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="deleteNode()">Delete Node</button></p>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- Delete Pattern -->
    <mat-expansion-panel *ngIf="this.user.isAdmAccount()">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Delete Pattern
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Remove a pattern you unwanted
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="deletePattern()">Delete Pattern</button></p>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- Delete Domain -->
    <mat-expansion-panel *ngIf="this.user.isAdmAccount()">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Delete Domain
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Remove a Domain you unwanted
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="deleteDomain()">Delete Domain</button></p>
        </mat-action-row>
    </mat-expansion-panel>


    <!-- Delete Connection -->
    <mat-expansion-panel >
        <mat-expansion-panel-header>
        <mat-panel-title>
            Delete Connection
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Remove a connetcion you unwanted
            </p>
        </mat-panel-description>

        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="deleteConnetion()">Delete Connection</button></p>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- Active Node -->
    <mat-expansion-panel >
        <mat-expansion-panel-header>
        <mat-panel-title>
                Active Node
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
                Active a Node you selected
            </p>
        </mat-panel-description>

        </mat-expansion-panel-header>
        <mat-action-row >
            <p><button mat-raised-button (click)="activeNode()">Active Node</button></p>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- View detail of nodes -->
    <mat-expansion-panel >
            <mat-expansion-panel-header>
            <mat-panel-title>
                    View Nodes Profile
            </mat-panel-title>
            <mat-panel-description>
                <p style="text-align:right;margin: auto">
                    View details of nodes
                </p>
            </mat-panel-description>

            </mat-expansion-panel-header>
            <mat-action-row >
                <p><button mat-raised-button (click)="viewNode()">View</button></p>
            </mat-action-row>
        </mat-expansion-panel>
    <!-- Send Message -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Send Message
        </mat-panel-title>
        <mat-panel-description>
            <p style="text-align:right;margin: auto">
            Select only two nodes to communicate
            </p>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row >
            <mat-form-field id="textArea" appearance = "outline">
                <mat-label>Message</mat-label>
                <textarea style="height:100px" matInput placeholder="Your Message"></textarea>
            </mat-form-field>
            <p><button style="margin-left: 10px" id="sendMessages" mat-raised-button (click)="sendMessage()">Send Message</button></p>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>
