#cy {
    width: 60%;
    height: 90%;
    position: fixed;
    margin-right: 500px;
    //display: block;
  }
  #controlPanel{
    width: 500px;
    margin-right: 10px;
    //margin-left: 500px;
    float: right;
    margin-top: 10px;
  }
  #textArea{
    width: 400px;
    //float: left;
    margin-top: 0px;
  }
  #sendMessages{
    //float: right;
    margin-top: 15px;
    margin-right: 0px;
  }
  .selectLocation{
    position:relative;
	  //left:-20px;
  }