.example-full-width {
    width: 80%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .img-location {
    float:left;
    width:50%;
    height:50%
  }
  .login-location{
    //width: 300px;
    margin-right: 10px;
    float: right
  }