
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-nav></app-nav>
<div class="row">
    <div class="col s6">
        <img class="responsive-img" src="assets/images/network3.png">
    </div> 
    <div class="col s6">
        <form method="POST" action="#">
            <div class="row">
                <div class="input-field col s8">
                  <i class="material-icons prefix">account_circle</i>
                  <input placeholder="Username" id="first_name" type="text" class="validate">
                  <label for="first_name"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <i class="material-icons prefix">vpn_key</i> 
                    <input placeholder="Password" id="password" type="password" class="validate">
                    <label for="password"></label>
                </div>
            </div>
            <!-- <div *ngIf="flag" class="row">
                
                <div class="input-field col s8">
                        <i class="material-icons prefix">question_answer</i> 
                    <input placeholder="Security question" id="question" type="text">
                    <label for="question"></label>
                </div>
                <div class="input-field col s8">
                    
                    <input placeholder="Please answer" id="answer" type="text" class="validate">
                    <label for="answer"></label>
                </div>
            </div> -->
            <div class="row">
                <div class="input-field col s8">
                <a id ="btn1" class="waves-effect waves-light btn-large blue darken-1">Get Started
                    <i class="material-icons right">send</i>
                </a>
                </div>
            </div>
        </form>
    </div>
</div>



